@import "tailwindcss";

@theme {
  /* Font Style */
  --font-sans: "Inter", sans-serif;
  --font-body: "Mulish", sans-serif;

  /* Typography Scale */
  --text-h1: 48px;
  --text-h2: 40px;
  --text-h3: 32px;
  --text-h4: 28px;
  --text-h5: 24px;
  --text-h6: 20px;

  --text-title-1: 20px;
  --text-title-2: 16px;

  --text-body-1: 12px;
  --text-body-2: 10px;

  --leading-base: 1.4;

  /* Colors Style */
  /* Brand */
  --color-primary: oklch(0.62 0.12 250);
  --color-primary-dark: oklch(0.45 0.1 250);
  --color-primary-light: oklch(0.82 0.08 250);
  --color-primary-subtle: oklch(0.9 0.05 250);

  /* State */
  --color-error: oklch(56.77% 0.198 25.86);
  --color-error-100: oklch(91.31% 0.043 24.36);
  --color-error-200: oklch(73.53% 0.147 25.33);
  --color-error-300: oklch(45.54% 0.179 26.24);

  --color-warning: oklch(78.29% 0.187 77.01);
  --color-warning-100: oklch(97.28% 0.08 107.03);
  --color-warning-200: oklch(84.4% 0.143 83.17);
  --color-warning-300: oklch(60.1% 0.149 71.49);

  --color-info: oklch(62.6% 0.106 251.35);
  --color-info-100: oklch(89.7% 0.026 244.75);
  --color-info-200: oklch(74.49% 0.085 248.16);
  --color-info-300: oklch(44.42% 0.088 255.43);

  --color-success: oklch(63.42% 0.128 156.2);
  --color-success-100: oklch(94.22% 0.046 151.78);
  --color-success-200: oklch(79.79% 0.119 152.05);
  --color-success-300: oklch(46.35% 0.082 160.17);

  --color-mint: oklch(74.2% 0.148 171.2);
  --color-mint-100: oklch(95.3% 0.04 170);
  --color-mint-200: oklch(85.2% 0.115 170.8);
  --color-mint-300: oklch(43.5% 0.087 172.5);

  /* Dark / Neutral */
  --color-neutral-900: oklch(0.2 0.02 260);
  --color-neutral-800: oklch(0.3 0.02 260);
  --color-neutral-700: oklch(0.4 0.02 260);
  --color-neutral-600: oklch(0.55 0.02 260);

  /* Light */
  --color-neutral-100: oklch(0.97 0.01 260);
  --color-neutral-200: oklch(0.94 0.01 260);
  --color-neutral-300: oklch(0.91 0.01 260);
  --color-neutral-400: oklch(0.98 0.01 260);

  /* Additional */
  --color-secondary: oklch(0.3 0.08 260);
  --color-secondary-light: oklch(0.95 0.03 250);
}

@layer base {
  body {
    @apply font-sans;
  }

  h1 {
    @apply font-bold text-h1 leading-base;
  }

  h2 {
    @apply font-bold text-h2 leading-base;
  }

  h3 {
    @apply font-semibold text-h3 leading-base;
  }

  h4 {
    @apply font-semibold text-h4 leading-base;
    @apply font-semibold;
  }

  h5 {
    @apply font-semibold  text-h5 leading-base;
  }

  h6 {
    @apply font-semibold  text-h6 leading-base;
  }
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
  }

  .table-head {
    @apply px-4 py-2 text-center border border-info-100;
  }

  .table-data {
    @apply px-4 py-2 border border-info-100 font-semibold;
  }
}
